@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Second Font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Doodle+Shadow&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #0c5355;
}

/********************** Header ********************************/

#health-disclaimer {
  background-color: #f7efec;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 1rem;
  font-size: 0.8rem;
}

/********************** Nav Menu ********************************/

#navigation-bar nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

#menu-container ul.menu {
  display: flex;
  list-style: none;
  gap: 7rem;
  justify-content: center;
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
}

#menu-container ul.menu li.menu-item a {
  text-decoration: none;
  color: #fffffd;
}

#menu-container ul.menu li.menu-item.active {
  color: #fffffd;
}

#menu-container ul.menu li.menu-item a:hover {
  color: #9ddfe6;
}

#navigation-bar nav .logo {
  text-decoration: none;
  color: #fffffd;
  margin-left: 8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

#navigation-bar nav .logo:hover {
  color: #9ddfe6;
  text-decoration: none;
}

#navigation-bar nav #start-consultation {
  margin-right: 8rem;
  font-size: 1rem;
  color: #000000;
  background-color: #91c6cc;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 1rem;
  font-weight: 500;
}

#navigation-bar nav #start-consultation:hover {
  background-color: #fffffd;
}

/****************** Home Information ********************/

#home {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding: 8rem;
  margin-top: 0.5rem;
}

#text-information {
  flex: 1;
  max-width: 50%;
}

#heading-1 h1 {
  font-family: "Rubik Doodle Shadow", cursive;
  font-size: 3rem;
  color: #fffffd;
}

#heading-2 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #fffffd;
}

#text p {
  margin-top: 1.6rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: #fffffd;
}

#btns button {
  margin-top: 2rem;
  font-size: 1rem;
  color: #000000;
  background-color: #91c6cc;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 1rem;
  font-weight: 500;
}

#btns button:hover {
  background-color: #fffffd;
}

#image {
  flex: 1;
  max-width: 45%;
}

#image img {
  margin-top: -1.8rem;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/********************************** Consultation Room ***************************/

#consultations {
  background-color: #f7efec;
  padding: 3rem 8rem;
  padding-bottom: 10rem;
}

#consultation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

#consultation h1 {
  margin: 0;
}

#consultation img {
  width: 30px;
  height: auto;
}

#chatBot {
  background-color: #f0f8ff;
  padding: 2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  box-shadow: 0 4px 15px rgba(33, 32, 32, 0.1);
}

/******* 3 SECTIONS ******/

#chatBot {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 1rem;
}

#consultation h1 {
  font-weight: 600;
}

#chatBot aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#chatBot aside h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #000000;
  font-weight: 550;
}

#info-box-1,
#info-box-2,
#info-box-3 {
  background-color: #f7efec;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 0.5rem;
  min-height: 100px;
  width: 100%;
  margin-bottom: 1rem;
}

#info-box-1 textarea {
  width: 90%;
  display: block;
  margin: 1rem auto 0;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  resize: vertical;
}

#chat-input {
  width: 100%;
  height: 120px;
  resize: none;
}

#chatBot aside button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #91c6cc;
  color: #000000;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

#chatBot aside button:hover {
  background-color: #0c5355;
  color: #f7efec;
}

#info-box-2 ul,
#info-box-3 ul {
  display: inline-block;
  text-align: left;
  margin: 1rem auto;
  padding: 0;
  list-style-position: inside;
}

#info-box-2 li,
#info-box-3 li {
  margin: 0.5rem 0;
}

/**************************************** FEATURES ************************************/

#features {
  padding: 6rem 8rem;
  padding-bottom: 10rem;
}

#features h1 {
  text-align: center;
  color: #f7efec;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

#features .features-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 8rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.feature-box {
  flex: 1;
  min-width: 250px;
  max-width: 500px;
  background-color: #f7efec;
  padding: 1.5rem;
  border-radius: 0.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.feature-box .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.feature-box .title i {
  font-size: 2rem;
  color: black;
}

.feature-box .title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000000;
  margin: 0;
}

.feature-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #000000;
  margin: 0;
}

/**************************************** FOOTER ************************************/
footer {
  background-color: #f7efec;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 1rem;
  font-size: 0.8rem;
}
